In [72]:
# Connecting the fifa_world_cup database
import sqlite3
import pandas as pd

conn = sqlite3.Connection("fifa_world_cup.db")

In [106]:
# Selecting necessary columns for home_team_advantage
hta_df = pd.read_sql_query('''
    SELECT home_team, home_team_score, home_team_fifa_rank, neutral_location
    FROM fifa_world_cup
    WHERE neutral_location = 0
    ORDER BY home_team_score DESC;
    ''', conn)
# We could add the away_team name if we wanted to see if these home team advantage may have been due to specific away teams

In [108]:
# Checking if correct columns were selected and sorted properly
print(hta_df)

                home_team  home_team_score  home_team_fifa_rank  \
0               Australia               31                   77
1               Australia               22                   76
2                 IR Iran               19                   40
3      Dominican Republic               17                  181
4               Australia               16                   36
...                   ...              ...                  ...
17942             England                0                    5
17943              Poland                0                   26
17944             Romania                0                   48
17945       Liechtenstein                0                  192
17946               Japan                0                   23

       neutral_location
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
17942                 0
17943                 0
17944                 0
17945                 0
17946                 0

[17947 rows x 4 columns]